**/*.env
**/uv.lock

**/flask_session/

cache/

# log
**/*log

# ide
.idea
.vscode

# http
# **/*.http


# python
**/__pycache__/


# output
**/output/
**/output_games/

**/.venv/
**/venv/
**/.python-version


# MacOS
**/.DS_Store

#
temp/